* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none !important;
}
::-webkit-scrollbar {
    display: none;
}
:root{
    --mdc-theme-primary: rgb(0, 175, 255) !important;
    --mdc-theme-secondary: green !important;
    --mdc-theme-background: black !important;
}

#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8)
}
body.login #login {
    display: flex;
}

#login > button {
    margin-left: 5px;
}

.mdc-button:disabled{
    color: grey !important;
}


/* Custom Styles */
*{
    font-family: "Roboto", sans-serif;
}
body, html{
    height: 100%;
    margin: 0;
}
body{
    background-color: white;
}

#alliance{
    height: 5vw !important;
    width: 15vw;

    border-radius: 20px;
    margin: 0 auto;
    background-color:purple;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}
#alliance *{
    color: white;
}

#logo{
    height: 8vw;
    position: absolute;
    top: 20px;
    left: 20px;
}

#clock{
    font-size: 3vw !important;
    font-weight: bold;
    color: rgb(0, 175, 255);
}

#camera {
    padding: 0;
    width: 60vw;
    height: 30vw;
    overflow: hidden;
    background-color: #333;
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    /*background-image: url('http://10.67.63.2:1181/?action=stream'), url('http://localhost:1181/?action=stream');*/
    background-image: url('../cam-example.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
}

#hatch{
    height: 10vw;

    position: absolute;
    right: 1vw;
    bottom: 1vw;
}
#hatch.out{
    background-color: rgba(255, 0, 0, 0.7);
}

#content{
    height: 100%;
}