* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none !important;

    -webkit-user-select: none;
    -webkit-user-drag: none;
}
::-webkit-scrollbar {
    display: none;
}
:root{
    --mdc-theme-primary: rgb(0, 175, 255) !important;
    --mdc-theme-secondary: green !important;
    --mdc-theme-background: black !important;
}

#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8)
}
body.login #login {
    display: flex;
}

#login > button {
    margin-left: 5px;
}

.mdc-button:disabled{
    color: grey !important;
}


/* Custom Styles */
*{
    font-family: "Roboto", sans-serif;
}
body, html{
    height: 100%;
    margin: 0;
}
body{
    background-color: #121212 !important;
}

#alliance{
    height: 7vw !important;
    width: 7vw;

    border-radius: 20vw;
    margin: 0 auto;
    background-color:transparent;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

    border: 7px solid rgba(255, 255, 255, 0.2);

}
#alliance *{
    color: white;
    font-size: 3vw !important;
}

#logo{
    height: 8vw;
    position: absolute;
    top: 20px;
    left: 20px;
}

#clock{
    font-size: 3vw !important;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

#camera {
    padding: 0;
    width: 60vw;
    height: 30vw;
    overflow: hidden;
    background-color: #1e1e1e;
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    background-image: url('http://10.67.63.2:1181/?action=stream'), url('http://localhost:1181/?action=stream');
    /*background-image: url('../cam-example.jpg');*/
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
}

#hatch{
    height: 10vw;

    position: absolute;
    right: 1vw;
    bottom: 1vw;

    background-color: rgba(0, 0, 0, 0.4);
}
#hatch.out{
    background-color: rgba(255, 0, 0, 0.7);
}

#content{
    height: 100%;
}

#top-app-bar{
    background-color: #1f1f1f !important;
    -webkit-app-region: drag;
}

#robot-state{
    color: white;
}

@font-face{
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-family: "Roboto";
}

@font-face{
    src: url('../fonts/roboto/Roboto-Bold.ttf');
    font-family: "Roboto";
    font-weight: bold;
}
/*.material-icons{
    font-family: "Material Icons";
}*/

#match-container{
    color: white;
    font-size: 2vw
}

#match{
    font-weight: bold;
}

#menubar{
    height: 20px;
    width: 100%;
    background-color: red;
}

/* Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../MaterialIcons-Regular.woff');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }